{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    
    <div class="block">
        <img src="{% static 'core/cat.jpg' %}" alt="welcome" class="logo"><br>
        <a href="/auth/" class="text1">auth api root</a><br>
        <a href="/store/" class="text2">store api root</a>
    </div>
    
        
    </div>
</body>
</html>